h1{
    color: red;
    animation:movetitle 3s;
}
h1:hover{
    color: green;
    transition: color 2s ease;
}
p{
    animation: untideparagraph 1s;
}
p:active{
    transform: rotate(2turn);
    transition: transform 2s linear ;
}
.btn_1:hover{
    animation: btn_1 0.2s infinite alternate;
}
.btn_2:hover{
    animation: btn_2 0.2s infinite alternate;
}
.btn_3:hover{
    animation: btn_3 0.5s infinite alternate;
}
@keyframes btn_3{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3)
    }
}

@keyframes btn_2{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}

@keyframes btn_1{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

@keyframes movetitle {
    0%{
        transform: translateX(-22px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes untideparagraph {
    0%{
        width: 0%;
        height: 0px;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}