#container{
    display: grid; 
    grid-template-rows: 2fr 1fr 2fr 2fr;
}
h1{
    text-align: center;
}
.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.menu{
    display: grid;
    grid-area: nav;
    grid-template-columns: 30% repeat(5, auto) 30%;
}

.menu li:first-child {
    grid-column-start: 2;
}
.menu li{
    justify-self: center;
}